/* .mediaViewInfo {
	--web-view-name: Return to Home Page;
	--web-view-id: Return_to_Home_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Return_to_Home_Page;
} */
* {
	margin: 0;
	padding: 0;
}
/* .mainPromptDiv{
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 581px;
	height: 820px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	 --web-view-name: Return to Home Page;
	--web-view-id: Return_to_Home_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true; 
} */
#Rectangle_1204 {
	filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.502));
}
.Rectangle_1204 {
	position: absolute;
	overflow: visible;
	width: 617px;
	height: 191px;
	left: 0px;
	top: 0px;
}
.Rectangle_1215 {
	position: absolute;
	overflow: visible;
	width: 575px;
	height: 55px;
	left: 3px;
	top: 3px;
}
#Info {
	position: absolute;
	left: 56px;
	top: 15px;
	overflow: hidden;
	width: 469px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(242,243,244,1);
}
.promptMessageDiv {
	position: absolute;
	left: 15px;
	top: 76px;
	overflow: hidden;
	width: 551px;
	height: 24px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(242,243,244,1);
}
#symNoButton___10 {
	position: absolute;
	width: 90px;
	height: 30px;
	left: 380px;
	top: 112px;
	overflow: visible;
}
#symYesButton___10 {
	position: absolute;
	width: 90px;
	height: 30px;
	left: 478px;
	top: 112px;
	overflow: visible;
}
.Path_310 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 90px;
	height: 30px;
	transform: matrix(1,0,0,1,0,0);
}
#OK, #CANCEL {
	position: absolute;
	/* left: 16px; */
	top: 4px;
	overflow: hidden;
	width: 90px;
	height: 20px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(242,243,244,1);
}
.icon_32_Info {
	overflow: visible;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 32px;
	height: 32px;
	transform: matrix(1,0,0,1,0,0);
}