 .background {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 50px;
  padding: 0 10px 10px 10px;
  background-color: var(--xCheckDarkGrey);
  overflow: hidden;
  display: grid;
  grid-template-rows: 42px auto;
  z-index: 1;
}

.flexContent {
  display: flex;
}

.addFileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plusButton {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--xCheckMedGrey);
}


.checkContainer{
  display: flex;
  width: 100%;
  height: 100%;
}

.checkContentContainer{
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto
}

.tabButtonContainer{
    height: 42px;
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-areas: "tabs buttons"
}

.tabContainer {
  height: 30px;
  align-self: end;
  display: flex;
  color: var(--xCheckWhite);
  justify-content: flex-start;
}

.tab {
  position: relative;
  background-color: var(--xCheckDarkGrey);
  width:calc(25% - 7.5px);
  max-width: 220px;
  margin-right: 5px;
  padding-right: 25px;
  border: 1px solid var(--xCheckMedGrey);
  border-bottom: none;
  border-radius: var(--borderRadiusVal) var(--borderRadiusVal) 0 0;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* overflow: hidden; */
}

.deleteTab {
  position: absolute;
  right: 5px;
  top: 9px;
  height: 14px;
  width: 14px;
  background: url(../../public/symbols/closeWin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.addTab {
  width: 30px;
  background-color: var(--xCheckDarkGrey);
  border: 1px solid var(--xCheckMedGrey);
  border-bottom: none;
  border-radius: var(--borderRadiusVal) var(--borderRadiusVal) 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedTab {
  background-color: var(--xCheckMedGrey);
}

.tab:hover, .addTab:hover {
  border-color: var(--intridaBlue);
  border-bottom: 1px solid var(--intridaBlue);
  cursor: pointer;
}

.tab:last-child {
  margin-right: 0;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  align-items: center;
  align-self: center;
}

.buttonGroup {
  display: flex;
  padding: 0 5px;
  align-items: center;
}

.buttonGroup + .buttonGroup {
  border-left: 1px var(--xCheckMedGrey) solid;
}

.buttonGroup:last-of-type{
  padding: 0 0 0 5px;
}

button + button {
  margin-left: 5px;
}

.checkCase {
  width: 200px;
  height: 30px;
  background-color: var(--xCheckBlack);
  border: 1px var(--xCheckMedGrey) solid;
  border-radius: var(--borderRadiusVal);
  padding-left: 5px;
}

.checkCase option {
  font-size: 12px;
}

.viewsContainer {
  background-color: var(--xCheckMedGrey);
  border-radius: 0 var(--borderRadiusVal) var(--borderRadiusVal) var(--borderRadiusVal);
  padding: 10px 10px 5px 10px;
  display: grid;
  grid-template-rows: auto 40px;
  grid-row-gap: 10px;
  grid-template-areas:
    "viewPanel"
    "buttons";
  position: relative;
}

.viewPanel{
  position: relative;
  display: flex;
  grid-area: viewPanel;
  z-index: 0;
}

.grabBar {
  cursor: ew-resize;
  width: 10px;
}

.tableContainer {
  position: relative;
  background-color: black;
  color: white;
  width: 500px;
  min-width: 15%;
  max-width: 85%;  
}

.tableHeaderArea{
  top: 0px;
  height: 60px;
}
.tableHeaderNameRow{
  height: 30px;
  width:100%;
  color:white;
  padding: 6px 10px;
}

.includeMemberItemsSwitch{
position: absolute;
right: 5px;
width: 65px !important;
}

.listTypeSwitch{
  position: absolute;
right: 80px;
width: 65px !important;
}

.tableHeaderControlRow{
  height: 30px;
  width:100%;
}

.tableArea{
  position: absolute; 
  top: 60px;
  height: calc(100% - 100px);
}

.visualizerContainer {
  position: relative;
  background-color: black;
  color: white;
  flex-grow: 1;
}

.maximize {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.viewport {
  position: absolute;
  top: 50px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  background-color: white;
}

.checkName {
  position: absolute;
  width: 400px;
  height: 25px;
  border-radius: 400px 400px 0 0;
  bottom: 0;
  left: calc(50% - 200px);
  background-color: var(--xCheckBlack);
  text-align: center;
  z-index: 1;
}

.checkName:hover {
  background-color: black;
  cursor: pointer;
}

.checkTogglesContainer{
  grid-area: buttons;
  display: grid;
  grid-template-columns: 145px auto 145px 100px;
  grid-template-areas: "compliance . comparison submit";
  grid-column-gap: 5px;
}

.addFiles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--xCheckMedGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 0 var(--borderRadiusVal) var(--borderRadiusVal) var(--borderRadiusVal);
}

.loadDataContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loadDataContent h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.plusFileButton{
  background-color: var(--xCheckMedGrey);
  border: solid var(--xCheckWhite) 1px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.plusFileButton img {
  width: 90px;
  height: 90px;
}

button[type="submit"] {
  /* background-color: var(--xCheckBlack); */
  /* border: 1px solid var(--xCheckWhite); */
  /* border-radius: var(--borderRadiusVal); */
  grid-area: submit;
  width: auto;
}

.maxMinBtn{
  background-color: var(--xCheckDarkGrey);
  background-image: url(../../public/symbols/XD_Maximise.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.2;
  left: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  border: var(--borderWidth) solid var(--xCheckMedGrey);
  border-radius: var(--borderRadiusVal);
  cursor: pointer;
  z-index: 3;
}

.maximize .maxMinBtn {
  background-image: url(../../public/symbols/XD_Minimise.svg);
}

.hide {
  display: none;
}

.propertyCalloutBtn{
  background: rgb(25.5, 25.5, 25.5);
  background-image: url("../../public/symbols/PropertyCalloutOpen.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.2;
  right: 5px;
  top: calc(50% - 15px);
  height: 30px;
  width: 30px;
  border: var(--borderWidth) solid var(--xCheckMedGrey);
  border-radius: var(--borderRadiusVal);
  cursor: pointer;
  z-index: 3;
  background-size :contain;
}

.propertyCalloutOpen {
  background-image: url("../../public/symbols/PropertyCalloutOpen.svg");
}

.commentsCalloutBtn{
  background: rgb(25.5, 25.5, 25.5);
  background-image: url("../../public/symbols/ChatBubleOpen.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.2;
  right: 15px;
  top: 50%;
  height: 30px;
  width: 30px;
  border: var(--borderWidth) solid var(--xCheckMedGrey);
  border-radius: var(--borderRadiusVal);
  cursor: pointer;
  z-index: 3;
  background-size :contain;
}

.commentsCalloutOpen {
  background-image: url("../../public/symbols/ChatBubleOpen.svg");
}
.propertyCalloutContainer{
  position: absolute;
  right: 0px;
  top: 30px;
  width: 330px;
  height: calc(100% - 30px);
  /* height: 100%; */
  cursor: pointer;
  z-index: 2;
  background: rgba(169,169,169, 0.6);
  display: none !important;
  overflow: hidden;
}

.commentsCalloutContainer{
  position: absolute;
  right: 10px;
  top: 40px;
   /*width: 330px;
  height: 100% ;  */
  cursor: pointer;
  z-index: 2;
  background: rgba(169,169,169, 0.6);
  display: none !important;
  overflow: hidden;
}

.propertyCalloutNameBar
  {
    position: absolute;
    right: 0px;    
    /* top: calc(100% - 30px);  */
    top: 0px;
    width: 330px;
    /* width: 100%; */
    height: 30px;
    display: none;  
    z-index : 3;
    /* opacity: 0.6;   */
    background : white;
    color: black;
    /* padding : 5px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .commentsCalloutNameBar
  {
    position: absolute;
    right: 10px;       
    top: 10px;
    height: 30px;
    display: none;  
    z-index : 3;
    /* opacity: 0.6;   */
    background : white;
    color: black;
    /* padding : 5px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .commentsTabPage{
    width: 100%;
    height: 100%;
    background: white;
  }

  .commentsArea{
    width: 100%;
    height: calc(100% - 98px);
    top: 30px;
    left: 0px;
    padding: 2px;
    overflow-y: scroll;
  }

  .commentInput{
    width: calc(100% - 30px);
    height: 62px;
    top: calc(100% - 62px);
  }

  .addCommentBtn
  {
    position: absolute;
    bottom: 13px;
    right: 2px;   
  }

  .searchBox
  {
    width: calc(100% - 30px);
    padding: 2px;
  }
  
.searchButton{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 4px;
}

.tableViewAction{
  position: absolute;
  right : 2px;
  bottom: 2px;
  width: 50px;
    height: 50px;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 25px;
    opacity: 0.5;
}

.dataBrowserAction{
  position: absolute;
  right: 12px;
  bottom: 72px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: gainsboro;
  border-radius: 20px;
  display: none;
  opacity: 0.5;
}

.listviewAction{
  position: absolute;
  right: 12px;
  bottom: 127px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: gainsboro;
  border-radius: 20px;
  display: none;
  opacity: 0.5;
}

.groupsAction{
  position: absolute;
  right: 12px;
  bottom: 182px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: gainsboro;
  border-radius: 20px;
  display: none;
  opacity: 0.5;
}

.tableViewAction:hover,
.dataBrowserAction:hover,
.listviewAction:hover,
.groupsAction:hover {
  opacity: 1;
}

.showSDA{
  display: block;
}