.container {
  position: fixed;
  top: 50px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../../public/mainBackground);
  background-repeat: no-repeat;
  background-color: var(--xCheckDarkGrey);
}

.module {
  display: flex;
  box-sizing: border-box;
  width: 280px;
  height: 280px;
  border: 10px solid;
  border-radius: 50px;
  margin-left: 62px;
  margin-right: 62px;
  color: var(--xCheckWhite);
  justify-content: center;
  align-items: center;
  font-size: 245px;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  padding: 12px;
  user-select: none;
}

.check {
  border-color: var(--xCheckOrange);
  background-size: contain;
  cursor: pointer;
}

.module .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}


.review {
  border-color: var(--xCheckRed);
  background-size: contain;
  cursor: pointer;
}

.prep {
  border-color: var(--intridaBlue);
  background-size: contain;
  cursor: pointer;
}

.disabled {
  /* pointer-events: none; */
  border-color: #C0C0C0;
  color: #C0C0C0;
  opacity: 0.4;
}