.mediaViewInfo {
	--web-view-name: Load Data;
	--web-view-id: Load_Data;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Load_Data;
}
* {
	margin: 0;
	padding: 0;
}
#Load_Data {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 581px;
	height: 278px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Load Data;
	--web-view-id: Load_Data;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#LoadData_Rectangle_1204 {
	filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.502));
}
.LoadData_Rectangle_1204 {
	position: absolute;
	overflow: visible;
	width: 617px;
	height: 313px;
	left: 0px;
	top: 0px;
}
.LoadData_Path_350 {
	overflow: visible;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 575px;
	height: 55px;
	transform: matrix(1,0,0,1,0,0);
}
#Load_Data_A52_Text_1 {
	position: absolute;
	left: 15px;
	top: 15px;
	overflow: hidden;
	width: 469px;
	height: 30px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(242,243,244,1);
}
#Browse {
	position: absolute;
	left: 77px;
	top: 77px;
	overflow: hidden;
	width: 67px;
	height: 22px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(242,243,244,1);
}
.Load_Data_Line_39 {
	overflow: visible;
	position: absolute;
	top: 94px;
	left: 178px;
	width: 1px;
	height: 150px;
}
#Load_Data_Path_259 {
	filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.749));
	cursor: pointer;
}
.Load_Data_Path_259 {
	overflow: visible;
	position: absolute;
	top: 18px;
	left: 545px;
	width: 20px;
	height: 20px;
	transform: matrix(1,0,0,1,0,0);
}
#Load_Data_MenuRound {
	position: absolute;
	width: 71px;
	height: 71.5px;
	left: 60.5px;
	top: 132px;
	overflow: visible;
}
#Load_Data_Group_331 {
	position: absolute;
	width: 71px;
	height: 71.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Load_Data_Ellipse_232 {
	filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.502));
}
.Load_Data_Ellipse_232 {
	position: absolute;
	overflow: visible;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 0.5px;
	transform: rotate(180deg);
}
#Load_Data______ {
	position: absolute;
	left: 16.525px;
	top: 8px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(242,243,244,1);
}
#Load_Data_Connect_to_Data_Source {
	position: absolute;
	left: 283px;
	top: 77px;
	overflow: hidden;
	width: 191px;
	height: 22px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(242,243,244,1);
}
#Load_Data_Component_12 {
	position: absolute;
	width: 90px;
	height: 30px;
	left: 220px;
	top: 154px;
	overflow: visible;
	cursor: pointer;
}
.Load_Data_Rectangle_1242 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Load_Data_SQL {
	position: absolute;
	left: 0px;
	top: 3px;
	overflow: hidden;
	width: 91px;
	height: 24px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(242,243,244,1);
}
#Load_Data_Component_13 {
	position: absolute;
	width: 106.505px;
	height: 30px;
	left: 325px;
	top: 154px;
	overflow: visible;
	cursor: pointer;
}
.Load_Data_Rectangle_1242_A52_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 106.505px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Load_Data_DropBox {
	position: absolute;
	left: 0px;
	top: 3px;
	overflow: hidden;
	width: 107.505px;
	height: 24px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(242,243,244,1);
}
#Load_Data_Component_14 {
	position: absolute;
	width: 90px;
	height: 30px;
	left: 447px;
	top: 154px;
	overflow: visible;
	cursor: pointer;
}
.Load_Data_Rectangle_1242_A52_Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Load_Data_Oracle {
	position: absolute;
	left: 0px;
	top: 3px;
	overflow: hidden;
	width: 91px;
	height: 24px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(242,243,244,1);
}

.loadFromVaultBtn{
	position: absolute;
    width: 125px;
    height: 30px;
    left: 317px;
    top: 204px;
    border: 1px solid var(--intridaBlue);
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

.loadFromVaultBtn p{
	font-weight: bold;
    font-size: 20px;
}