.mediaViewInfo {
	--web-view-name: Small;
	--web-view-id: Small;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Small;
}
* {
	margin: 0;
	padding: 0;
}
#Small {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1170px;
	height: 930px;
	background-color: rgba(33,37,63,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Small;
	--web-view-id: Small;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.bg {
	position: absolute;
	overflow: visible;
	width: 1122px;
	height: 882px;
	left: 24px;
	top: 21px;
}
#left {
	position: absolute;
	width: 180px;
	height: 639px;
	left: 221px;
	top: 182px;
	overflow: visible;
}
.icon_32_Summary {
	overflow: visible;
	position: absolute;
	top: 617px;
	left: 79px;
	width: 21px;
	height: 22px;
	transform: matrix(1,0,0,1,0,0);
}
#error {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#base {
	opacity: 0.1;
}
.base {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
.data {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
#Group {
	position: absolute;
	width: 84px;
	height: 68px;
	left: 48px;
	top: 56px;
	overflow: visible;
}
#ID1_3_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,72,71,1);
}
#Errors {
	position: absolute;
	left: 17px;
	top: 49px;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#error_A1_Group_4 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 204px;
	overflow: visible;
}
#base_A1_Ellipse_3 {
	opacity: 0.1;
}
.base_A1_Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
.data_A1_Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
#Group_A1_Group_5 {
	position: absolute;
	width: 82px;
	height: 68px;
	left: 49px;
	top: 56px;
	overflow: visible;
}
#ID0_ {
	position: absolute;
	left: 10px;
	top: 0px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,234,15,1);
}
#Warnings {
	position: absolute;
	left: 0px;
	top: 49px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#error_A1_Group_6 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 408px;
	overflow: visible;
}
#base_A1_Ellipse_5 {
	opacity: 0.1;
}
.base_A1_Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
.data_A1_Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
#Group_A1_Group_7 {
	position: absolute;
	width: 62px;
	height: 68px;
	left: 59px;
	top: 56px;
	overflow: visible;
}
#ID0__A1_Text_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(15,255,114,1);
}
#OK {
	position: absolute;
	left: 18px;
	top: 49px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#right {
	position: absolute;
	width: 180px;
	height: 639px;
	left: 770px;
	top: 182px;
	overflow: visible;
}
.icon_32_Summary_A1_BooleanGroup_2 {
	overflow: visible;
	position: absolute;
	top: 617px;
	left: 79px;
	width: 21px;
	height: 22px;
	transform: matrix(1,0,0,1,0,0);
}
#error_A1_Group_9 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#base_A1_Ellipse_7 {
	opacity: 0.1;
}
.base_A1_Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
.data_A1_Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
#Group_A1_Group_10 {
	position: absolute;
	width: 116px;
	height: 68px;
	left: 32px;
	top: 56px;
	overflow: visible;
}
#ID35_3_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(15,255,238,1);
}
#Not_checked {
	position: absolute;
	left: 5px;
	top: 49px;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#error_A1_Group_11 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 204px;
	overflow: visible;
}
#base_A1_Ellipse_9 {
	opacity: 0.1;
}
.base_A1_Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
.data_A1_Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
#Group_A1_Group_12 {
	position: absolute;
	width: 122px;
	height: 68px;
	left: 29px;
	top: 56px;
	overflow: visible;
}
#ID98_7_ {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(15,255,238,1);
}
#No_match {
	position: absolute;
	left: 20px;
	top: 49px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#error_A1_Group_13 {
	position: absolute;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 408px;
	overflow: visible;
}
#base_A1_Ellipse_11 {
	opacity: 0.1;
}
.base_A1_Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
.data_A1_Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 0px;
	top: 0px;
}
#Group_A1_Group_14 {
	position: absolute;
	width: 122px;
	height: 68px;
	left: 29px;
	top: 56px;
	overflow: visible;
}
#ID98_7__A1_Text_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(15,255,238,1);
}
#Undefined {
	position: absolute;
	left: 16px;
	top: 49px;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#line {
	opacity: 0.1;
}
.line {
	position: absolute;
	overflow: visible;
	width: 1122px;
	height: 4px;
	left: 24px;
	top: 101px;
}
#line_A1_Rectangle_3 {
	opacity: 0.1;
}
.line_A1_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1122px;
	height: 4px;
	left: 24px;
	top: 850px;
}
.icon_32_Info {
	overflow: visible;
	position: absolute;
	top: 864px;
	left: 1090px;
	width: 32px;
	height: 32px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_check {
	position: absolute;
	left: 513.5px;
	top: 129px;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#chart_type {
	position: absolute;
	width: 137px;
	height: 52px;
	left: 996px;
	top: 37px;
	overflow: visible;
}
#ID2 {
	position: absolute;
	width: 68px;
	height: 52px;
	left: 69px;
	top: 0px;
	overflow: visible;
}
.bg_A1_Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#btn {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 18px;
	top: 10px;
	overflow: visible;
}
.icon_32_bar_chart_copy {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 32px;
	transform: matrix(1,0,0,1,0,0);
}
#ID1 {
	position: absolute;
	width: 68px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bg_A1_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#btn_A1_Group_19 {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 18px;
	top: 10px;
	overflow: visible;
}
.icon_32_pie_chart_copy {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 32px;
	transform: matrix(1,0,0,1,0,0);
}
#result_type {
	position: absolute;
	width: 137px;
	height: 52px;
	left: 37px;
	top: 37px;
	overflow: visible;
}
#ID2_A1_Group_21 {
	position: absolute;
	width: 68px;
	height: 52px;
	left: 69px;
	top: 0px;
	overflow: visible;
}
.bg_A1_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 52px;
	left: 0px;
	top: 0px;
}
.icon_32_Compliance {
	overflow: visible;
	position: absolute;
	top: 13px;
	left: 18px;
	width: 31.993px;
	height: 26.401px;
	transform: matrix(1,0,0,1,0,0);
}
#ID1_A1_Group_22 {
	position: absolute;
	width: 68px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.bg_A1_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 52px;
	left: 0px;
	top: 0px;
}
.icon_32_Comparison {
	overflow: visible;
	position: absolute;
	top: 10px;
	left: 18px;
	width: 32px;
	height: 32px;
	transform: matrix(1,0,0,1,0,0);
}
#Page_1 {
	position: absolute;
	width: 32px;
	height: 29.756px;
	left: 48px;
	top: 865px;
	overflow: visible;
}
#Small_A1_Group_24 {
	position: absolute;
	width: 32px;
	height: 29.756px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.icon_32_Severity {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 29.756px;
	transform: matrix(1,0,0,1,0,0);
}