.mediaViewInfo {
	--web-view-name: Large – 1;
	--web-view-id: Large___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Large___1;
}
* {
	margin: 0;
	padding: 0;
}
#Large___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 100%;
	height: 100%;
	background-color: rgba(33,37,63,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Large – 1;
	--web-view-id: Large___1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_1 {
	position: absolute;
	width: 97.23%;
	height: 95.86%;
	left: 1.27%;
	top: 2.60%;
	overflow: hidden;
}
#compare {
	position: absolute;
	width: 49.34%;
	height: 45.01%;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
.bg {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#header {
	position: absolute;
	width: 100%;
	height: 17.12%;
	left: 0px;
	top: 3.27%;
	overflow: hidden;
}
#line {
	opacity: 0.1;
}
.line {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 6%;
    left: 0px;
    top: 95.52%;
}
#type_2_1 {
	position: absolute;
	width: 42.58%;
	height: 76.47%;
	left: 55.97%;
	top: 0px;
	overflow: hidden;
}
#bar {
    position: absolute;
    width: 49.87%;
    height: 100%;
    left: 50%;
    top: 0px;
	overflow: hidden;
}
.bg_A3_Rectangle_3 {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#btn {
    position: absolute;
    width: 71.35%;
    height: 61.53%;
    left: 14.06%;
    top: 19.23%;
    overflow: hidden;
}
.icon_32_bar_chart {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23.35%;
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
}
#Bar_chart {
    position: absolute;
    left: 29.19%;
    top: 12.5%;
    overflow: hidden;
    width: 71.53%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#pie {
    position: absolute;
    width: 49.87%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.bg_A3_Rectangle_4 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#btn_A3_Group_8 {
    position: absolute;
    width: 71.35%;
    height: 61.53%;
    left: 14.06%;
    top: 19.23%;
    overflow: hidden;
}
.icon_32_pie_chart {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23.35%;
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
}
#Pie_chart {
	position: absolute;
    left: 29.19%;
    top: 12.5%;
    overflow: hidden;
    width: 71.53%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#type_1 {
    position: absolute;
    width: 42.58%;
    height: 76.47%;
    left: 13px;
    top: 0px;
    overflow: hidden;
}
#bar_A3_Group_10 {
	position: absolute;
    width: 49.87%;
    height: 100%;
    left: 50%;
    top: 0px;
    overflow: hidden;
}
.bg_A3_Rectangle_5 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#btn_A3_Group_11 {
	position: absolute;
    width: 85.93%;
    height: 50%;
    left: 6.7%;
    top: 25%;
    overflow: hidden;
}
.icon_32_Compliance {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 19.40%;
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
}
#Compliance {
    position: absolute;
    left: 24.24%;
    top: 1px;
    overflow: hidden;
    width: 76.36%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#pie_A3_Group_12 {
	position: absolute;
    width: 49.87%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.bg_A3_Rectangle_6 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#btn_A3_Group_13 {
	position: absolute;
    width: 75.93%;
    height: 63%;
    left: 10%;
    top: 20%;
    overflow: hidden;
}
.icon_32_Comparison {
	overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23%;
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
}
#Compare {
	position: absolute;
    left: 28%;
    top: 10%;
    overflow: hidden;
    width: 66.20%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#line_A3_Rectangle_7 {
	opacity: 0.1;
}
.line_A3_Rectangle_7 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1%;
    left: 0px;
    top: 86.11%;
}
#severity {
    position: absolute;
    width: 13.82%;
    height: 7.55%;
    left: 2.65%;
    top: 89.42%;
    overflow: hidden;
}
#Severity {
	position: absolute;
    left: 32%;
    top: 13.33%;
    overflow: hidden;
    width: 69%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,72,71,1);
}
#Page_1 {
	position: absolute;
    width: 25.6%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
#Small {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.icon_32_Severity {
	overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
}
#info {
    position: absolute;
    width: 8.96%;
    height: 8.5%;
    left: 88.93%;
    top: 89.67%;
    overflow: hidden;
}
.icon_32_Info {
	overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 39.5%;
    height: 100%;
    transform: matrix(1,0,0,1,0,0);
}
#Info {
	position: absolute;
    left: 45%;
    top: 8%;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

#BarCharts {
    position: absolute;
    width: 93%;
    height: 60%;
    left: 5%;
    top: 23%;
    overflow: hidden;
    display: none;
}

#charts {
	position: absolute;
    width: 93%;
    height: 60%;
    left: 5%;
    top: 23%;
    overflow: hidden;
    display: block;
}
#error {
	position: absolute;
    width: 28.5%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
#base {
	opacity: 0.1;
}
.base {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.data {
	position: absolute;
	overflow: hidden;
	width: 212px;
	height: 212px;
	left: 0px;
	top: 0px;
}
#Group {
	position: absolute;
    width: 48%;
    height: 32%;
    left: 25%;
    top: 32%;
    overflow: hidden;
}
#ID40_ {
	position: relative;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,72,71,1);
}
#Errors {
	position: absolute;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#warning {
	position: absolute;
    width: 28.5%;
    height: 100%;
    left: 33.5%;
    top: 0px;
    overflow: hidden;
}
#base_A3_Ellipse_3 {
	opacity: 0.1;
}
.base_A3_Ellipse_3 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.data_A3_Ellipse_4 {
	position: absolute;
	overflow: hidden;
	width: 212px;
	height: 212px;
	left: 0px;
	top: 0px;
}
#Group_A3_Group_22 {
    position: absolute;
    width: 48%;
    height: 32%;
    left: 25%;
    top: 32%;
    overflow: hidden;
}
#ID30_ {
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,234,15,1);
}
#Warnings {
    position: relative;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#ok {
	position: absolute;
    width: 28.5%;
    height: 100%;
    left: 67%;
    top: 0px;
    overflow: hidden;
}
#base_A3_Ellipse_5 {
	opacity: 0.1;
}
.base_A3_Ellipse_5 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
.data_A3_Ellipse_6 {
	position: absolute;
	overflow: hidden;
	width: 212px;
	height: 212px;
	left: 0px;
	top: 0px;
}
#Group_A3_Group_24 {
    position: absolute;
    width: 48%;
    height: 32%;
    left: 25%;
    top: 32%;
    overflow: hidden;
}
#ID10_ {
    position: relative;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(15,255,114,1);
}
#OK {
    position: absolute;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#compare_A3_Group_25 {
	position: absolute;
    width: 100%;
    height: 52.32%;
    left: 0px;
    top: 47.78%;
    overflow: hidden;
}
.bg_A3_Rectangle_8 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#line_A3_Rectangle_9 {
	opacity: 0.3;
}
.line_A3_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1750px;
	height: 4px;
	left: 58px;
	top: 398px;
}
#line_A3_Rectangle_10 {
	opacity: 0.1;
}
.line_A3_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 1750px;
	height: 2px;
	left: 58px;
	top: 341px;
}
#line_A3_Rectangle_11 {
	opacity: 0.1;
}
.line_A3_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 1750px;
	height: 2px;
	left: 58px;
	top: 284px;
}
#line_A3_Rectangle_12 {
	opacity: 0.1;
}
.line_A3_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 1750px;
	height: 2px;
	left: 58px;
	top: 228px;
}
#line_A3_Rectangle_13 {
	opacity: 0.1;
}
.line_A3_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 1750px;
	height: 2px;
	left: 58px;
	top: 171px;
}
#line_A3_Rectangle_14 {
	opacity: 0.1;
}
.line_A3_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1750px;
	height: 2px;
	left: 58px;
	top: 114px;
}
#ID10 {
	position: absolute;
	left: 25px;
	top: 334px;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID0 {
	position: absolute;
	left: 31px;
	top: 391px;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Group_10 {
	position: absolute;
	width: 64px;
	height: 279px;
	left: 135px;
	top: 158px;
	overflow: visible;
}
#Check_1 {
	position: absolute;
	left: 0px;
	top: 260px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 24px;
	top: 188px;
}
.Oval_A3_Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 24px;
	top: 0px;
}
.Oval_A3_Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 24px;
	top: 48px;
}
#Group_10_A3_Group_27 {
	position: absolute;
	width: 66px;
	height: 234px;
	left: 353px;
	top: 203px;
	overflow: visible;
}
#Check_2 {
	position: absolute;
	left: 0px;
	top: 215px;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 117px;
}
.Oval_A3_Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 0px;
}
.Oval_A3_Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 47px;
}
#Group_10_A3_Group_28 {
	position: absolute;
	width: 66px;
	height: 185px;
	left: 572px;
	top: 252px;
	overflow: visible;
}
#Check_3 {
	position: absolute;
	left: 0px;
	top: 166px;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 47px;
}
.Oval_A3_Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 74px;
}
.Oval_A3_Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 0px;
}
#Group_10_A3_Group_29 {
	position: absolute;
	width: 68px;
	height: 185px;
	left: 790px;
	top: 252px;
	overflow: visible;
}
#Check_4 {
	position: absolute;
	left: 0px;
	top: 166px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 0px;
}
.Oval_A3_Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 18px;
	top: 46px;
}
.Oval_A3_Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 35px;
	top: 46px;
}
#Group_10_A3_Group_30 {
	position: absolute;
	width: 66px;
	height: 210px;
	left: 1009px;
	top: 227px;
	overflow: visible;
}
#Check_5 {
	position: absolute;
	left: 0px;
	top: 191px;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 0px;
}
.Oval_A3_Ellipse_20 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 70px;
}
.Oval_A3_Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 25px;
	top: 121px;
}
#Group_10_A3_Group_31 {
	position: absolute;
	width: 68px;
	height: 229px;
	left: 1227px;
	top: 208px;
	overflow: visible;
}
#Check_6 {
	position: absolute;
	left: 0px;
	top: 210px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 0px;
}
.Oval_A3_Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 138px;
}
.Oval_A3_Ellipse_24 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 89px;
}
#Group_10_A3_Group_32 {
	position: absolute;
	width: 68px;
	height: 253px;
	left: 1446px;
	top: 184px;
	overflow: visible;
}
#Check_7 {
	position: absolute;
	left: 0px;
	top: 234px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_25 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 0px;
}
.Oval_A3_Ellipse_26 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 176px;
}
.Oval_A3_Ellipse_27 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 133px;
}
#Group_10_A3_Group_33 {
	position: absolute;
	width: 68px;
	height: 276px;
	left: 1665px;
	top: 161px;
	overflow: visible;
}
#Check_8 {
	position: absolute;
	left: 0px;
	top: 257px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
.Oval_A3_Ellipse_28 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 0px;
}
.Oval_A3_Ellipse_29 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 216px;
}
.Oval_A3_Ellipse_30 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 26px;
	top: 183px;
}
#ID20 {
	position: absolute;
	left: 22px;
	top: 277px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID30 {
	position: absolute;
	left: 22px;
	top: 219px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID40 {
	position: absolute;
	left: 20px;
	top: 162px;
	overflow: visible;
	width: 23px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#ID50 {
	position: absolute;
	left: 22px;
	top: 105px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#line_A3_Rectangle_15 {
	opacity: 0.1;
}
.line_A3_Rectangle_15 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1%;
    left: 0px;
    top: 16.70%;
}

#line_charts {
    position: absolute;
    overflow: hidden;
    width: 95%;
    height: 75%;
    top: 21%;
    left: 2.5%;
}

#Project_health {
	position: absolute;
    left: 2%;
    top: 6%;
    overflow: hidden;
    width: 8%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1)
}
.Path_2 {
	overflow: visible;
	position: absolute;
	top: 169px;
	left: 167.5px;
	width: 1532.22px;
	height: 186.488px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	top: 216.5px;
	left: 167.5px;
	width: 1532.319px;
	height: 142.008px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	top: 167px;
	left: 167.5px;
	width: 1532.283px;
	height: 220.476px;
	transform: matrix(1,0,0,1,0,0);
}
#details {
	position: absolute;
    width: 24.07%;
    height: 45%;
    left: 76%;
    top: 0%;
    overflow: hidden;
}
.bg_A3_Rectangle_16 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#line_A3_Rectangle_17 {
	opacity: 0.1;
}
.line_A3_Rectangle_17 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1%;
    left: 1px;
    top: 20%;
}
#line_A3_Rectangle_18 {
	opacity: 0.1;
}
.line_A3_Rectangle_18 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1%;
    left: 0%;
    top: 50%;
}
#Details {
	position: absolute;
    left: 5%;
    top: 5%;
    overflow: hidden;
    width: 15%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Group_5_1 {
	position: absolute;
    width: 90%;
    height: 7.5%;
    left: 5%;
    top: 25%;
    overflow: hidden;
}
#Data_source1 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 35%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#ABC123 {
	position: absolute;
    left: 50%;
    top: 0px;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Group_6 {
	position: absolute;
    width: 90%;
    height: 7.5%;
    left: 5%;
    top: 38%;
    overflow: hidden;
}
#Data_type {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 35%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#ABC123_A3_Text_32 {
	position: absolute;
    left: 50%;
    top: 0px;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#line_A3_Rectangle_19 {
	opacity: 0.1;
}
.line_A3_Rectangle_19 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1%;
    left: 0%;
    top: 80%;
}
#Group_7 {
	position: absolute;
    width: 90%;
    height: 7.5%;
    left: 5%;
    top: 55%;
    overflow: hidden;
}
#Data_source_2 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 35%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#ABC123_A3_Text_34 {
	position: absolute;
    left: 50%;
    top: 0px;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Group_8 {
	position: absolute;
    width: 90%;
    height: 7.5%;
    left: 5%;
    top: 68%;
    overflow: hidden;
}
#ABC123_A3_Text_35 {
	position: absolute;
    left: 50%;
    top: 0px;
    overflow: hidden;
    width: 50%;
    white-space: nowrap;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Data_type_A3_Text_36 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 35%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Group_9 {
	position: absolute;
    width: 90%;
    height: 7.5%;
    left: 5%;
    top: 85%;
    overflow: hidden;
}
#Check_case {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#xml_2_xls {
	position: absolute;
    left: 45%;
    top: 0px;
    overflow: hidden;
    width: 55%;
    white-space: nowrap;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

.summary {
	position: absolute;
    width: 24.07%;
    height: 45%;
    left: 50.6%;
    top: 0px;
    overflow: hidden;
}
.bg_A3_Rectangle_20 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#line_A3_Rectangle_21 {
	opacity: 0.1;
}
.line_A3_Rectangle_21 {
	position: absolute;
    overflow: hidden;
    width: 100%;
    height: 1%;
    left: 0px;
    top: 20%;
}
#Summary {
	position: absolute;
    left: 13%;
    top: 7%;
    overflow: hidden;
    width: 20%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.icon_32_Summary {
    overflow: hidden;
    position: absolute;
    top: 6%;
    left: 5%;
    width: 6%;
    height: 8%;
    transform: matrix(1,0,0,1,0,0);
}
#Group_A3_Group_41 {
	position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 25%;
    overflow: hidden;
}
#ID37 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Total_items_checked {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

#checkedItemCount {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Total_items_checked_1 {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

#Group_2 {
	position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 48%;
    overflow: hidden;
}
#Items_with_errors {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID18 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,72,71,1);
}

#Items_undefined {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#count_undefined {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,72,71,1);
}

#Group_3 {
	position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 59%;
    overflow: hidden;
}
#Items_with_warnings {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID13 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,234,15,1);
}

#Total_items_not_checked {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID37_A3_Text_12_1 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,234,15,1);
}

#Group_4 {
	position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 70%;
    overflow: visible;
}
#Items__OK_ {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: visible;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID6 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(15,255,114,1);
}
#Group_4_A3_Group_45 {
	position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 80%;
    overflow: hidden;
}
#Items__OK__A3_Text_48 {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#ID6_A3_Text_49 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(15,255,114,1);
}
#Group_A3_Group_46 {
	position: absolute;
    width: 70%;
    height: 10%;
    left: 5%;
    top: 37%;
    overflow: hidden;
}
#ID37_A3_Text_50 {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Total_items_checked_A3_Text_51 {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}

#count_no_match {
	position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Items_with_No_Match {
	position: absolute;
    left: 40%;
    top: 20%;
    overflow: hidden;
    width: 60%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}