
.displayMenu{
    position: absolute;
    z-index: 1;
    top: calc( 50% - 95px);
    background: rgba(25.5, 25.5, 25.5) !important;
    width: 40px;
    height: 190px;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }
  
  .displayMenu:hover, .markupMenu:hover, 
  .shapesMenu:hover, .bookmarkMenu:hover,
  .tagsMenu:hover, .modelViewsMenu:hover,
  .displayStylesMenu:hover, .sectioningMenu:hover,
  .measureMenu:hover, .dataDefinitionMenu:hover,.listViewActionMenu:hover {
    opacity: 1;
  }
  
  .displayMenu .dx-list-item-content, .markupMenu .dx-list-item-content, .shapesMenu .dx-list-item-content,
  .bookmarkMenu .dx-list-item-content, .tagsMenu .dx-list-item-content, .modelViewsMenu .dx-list-item-content,
  .displayStylesMenu .dx-list-item-content, .sectioningMenu .dx-list-item-content, .measureMenu .dx-list-item-content,
  .dataDefinitionMenu .dx-list-item-content, .listViewActionMenu .dx-list-item-content
  {
    padding: 4px 4px !important;
  }
  
  
  .displayMenu .dx-list-item, .markupMenu .dx-list-item, .shapesMenu .dx-list-item,
  .bookmarkMenu .dx-list-item, .tagsMenu .dx-list-item, .modelViewsMenu .dx-list-item,
  .displayStylesMenu .dx-list-item, .sectioningMenu .dx-list-item, .measureMenu .dx-list-item,
  .dataDefinitionMenu .dx-list-item, .listViewActionMenu .dx-list-item
  {
    border-top: none !important;
  }

  .markupMenu{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 380px;
    top: calc( 50% - 190px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }
  
  
  .markupViewsContainer
  {
  position: absolute;
  z-index: 4; 
  width: 340px;
  display: none;
  /* top : calc(50% - 165px); */
  /* left : calc(50% - 125px); */
  top: 0px;
  right: 0px;
  }

  .measureViewsContainer
  {
  position: absolute;
  z-index: 1; 
  width: 340px;
  display: none;
  /* top : calc(50% - 165px); */
  /* left : calc(50% - 125px); */
  top: 0px;
  right: 0px;
  }
  
  .markupViewsCaptionBar
  {
  height: 30px; 
  background: white;
  }
  
  .markupViewsTabs
  {
  /* height: 250px;  */
  background: white;
  }
  
  .markupViewsBottomStrip
  {
  height: 40px; 
  background: white;
  }
  
  .markupViewsContainerClose
  {
  position: absolute;
  right: 0px;
  }
  
  .markupViewsClearBtn{
  width: 25px;
  height: 25px;
  bottom: 7px;
  position: absolute;
  }
  
  .markupViewsCaption, .userPropertiesCaption, 
  .editUserPropertiesCaption, .clearUserPropertiesCaption,
  .defineGroupsFormCaption,.selectGroupsFormCaption, .definePropertyHighlightFormCaption,.selectPropertyHighlightFormCaption,
  .dataChangeTemplateOptionsFormCaption, .selectRevisionCaption,
  .selectDisplayTablesCaption, .exportExcelCaption, 
  .exportDatasetsToExcelCaption,
  .defineListFormCaption,.displayListFormCaption
  {
  color: black;
  top: 5px;
  left: 4px;
  position: absolute;
  }
  
  .shapesMenu
  {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 76px;
  top: calc( 50% - 190px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
  }
  
  .bookmarkMenu
  {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 304px;
    top: calc( 50% - 152px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }

  .tagsMenu{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 190px;
    top: calc( 50% - 95px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }

  .markupViewsContainer .dx-tabpanel .dx-tab ,
  .measureViewsContainer .dx-tabpanel .dx-tab{
    width: 110px !important;
}

.markupViewsContainer .dx-tab ,
.measureViewsContainer .dx-tab {
  padding: 5px !important;; 
}

.modelViewsMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 456px;
  top: calc( 50% - 228px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 2px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.displayStylesMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 190px;
  top: calc( 50% - 380px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.sectioningMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  top: calc( 50% - 380px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.measureMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  top: calc( 50% - 190px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

/* Styles for JQuery context menus */
.contextMenu_style
{
  opacity: 0.2;
  border: none;
  box-shadow: none;
  font-size: 14px;
}

.contextMenu_style  .context-menu-item{
  background: rgba(25.5, 25.5, 25.5);
  color: white;
  
}
.contextMenu_style:hover{
 
  opacity: 1;
}

.dataDefinitionMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  left: 2px;
  top: calc( 50% - 114px);
  background: rgba(25.5, 25.5, 25.5) !important; 
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}


.listViewActionMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  left: 2px;
  top: calc( 50% - 114px);
  background: rgba(25.5, 25.5, 25.5) !important; 
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.userPropertiesForm, .defineGroupsForm, .selectGroupsForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 450px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

#selectGroupsForma,#selectGroupsFormb,#selectGroupsFormc,#selectGroupsFormd,#selectPropertyHighlightForma,
#selectPropertyHighlightFormb,#selectPropertyHighlightFormc,#selectPropertyHighlightFormd,#selectDataChangeTemplateForm
{
  width: 300px;
}

.defineListForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 250px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.displayListForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 250px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.definePropertyHighlightForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 550px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.selectPropertyHighlightForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 550px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.editUserPropertiesForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 800px;
  background: white;
  right: 0px;
  border: 1px solid lightgray;
}

.clearUserPropertiesForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 400px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.userPropertiesFormCaptionBar, .editUserPropertiesFormCaptionBar,
.clearUserPropertiesFormCaptionBar, .defineGroupsFormCaptionBar, .selectGroupsFormCaptionBar,
.definePropertyHighlightFormCaptionBar,.selectPropertyHighlightFormCaptionBar, .dataChangeTemplateOptionsFormCaptionBar,
.selectRevisionCaptionBar, .selectDisplayTablesCaptionBar
.definePropertyHighlightFormCaptionBar, .dataChangeTemplateOptionsFormCaptionBar,
.selectRevisionCaptionBar, .selectDisplayTablesCaptionBar,.defineListFormCaptionBar,.displayListFormCaptionBar
{
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(25.5, 25.5, 25.5);
}

.userPropertiesFormGridArea, .defineGroupsFormGridArea,
.definePropertyHighlightFormGridArea, .dataChangeTemplateFormArea
{
  height: 180px;
  width: 100%;  
}

.editUserPropertiesFormGridArea
{
  height: 500px;
  width: 100%;
  padding: 2px;
  /* border-bottom: 1px solid black; */
}

.clearUserPropertiesFormArea
{
  /* height: 100px; */
  width: 100%;
  padding: 2px;
}

.dx-field-label
{
  width: 10% !important;
}

.dx-field-value
{
  width: 90% !important;
}

.userPropertiesFormControlColumn, .defineGroupsFormControlColumn,
.definePropertyHighlightFormControlColumn, .dataChangeTemplateFormControlColumn
{
  /* position: absolute; */
  left:0px;
  width: 60px;
  height : 100%; 
}

.userPropertiesGrid, .defineGroupsGrid,
.definePropertyHighlightGrid
{
  /* position: absolute; */
  right:0px;
  width: calc(100% - 60px);
  height : 100%;
}

.userPropertiesFormAdd, .defineGroupsFormAdd,
.definePropertyHighlightFormAdd
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 45px;  
  left : 10px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesFormClear, .defineGroupsFormClear,
.definePropertyHighlightFormClear
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 125px;
  left : 10px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesFormBottomBar, .editUserPropertiesFormBottomBar,
.clearUserPropertiesFormBottomBar, .dataChangeOptionsBottomBar,
.selectRevisionBottomBar
{
  height: 40px;
  width: 100%;
  padding: 2px;
}

.selectDisplayTablesBottomBar
{
  height: 70px;
  width: 100%;
  padding: 2px;
}

.defineGroupsFormBottomBar,.selectGroupsFormBottomBar, .definePropertyHighlightFormBottomBar,.selectPropertyHighlightFormBottomBar,
.defineGroupsFormBottomBar,.selectGroupsFormBottomBar, .definePropertyHighlightFormBottomBar,
.defineGroupsFormBottomBar, .definePropertyHighlightFormBottomBar,
.defineListFormBottomBar, .displayListFormBottomBar
{
  height: 70px;
  width: 100%;
  padding: 2px;
}

#selectGroupsFormBottomBara,#selectGroupsFormBottomBarb,#selectGroupsFormBottomBarc,#selectGroupsFormBottomBard,
#selectPropertyHighlightFormBottomBara,#selectPropertyHighlightFormBottomBarb,#selectPropertyHighlightFormBottomBarc,
#selectPropertyHighlightFormBottomBard,#selectDataChangeTemplateFormBottomBar
{
  height: 85px;
}

.userPropertiesPropogateBtn
{
  position: absolute;
  left: 2px;
  width: 30px;
  height: 30px;
  opacity: 0.75;  
  text-align: center;
  vertical-align: middle; 
  border-radius: 6px;
  bottom: 4px;
  background: rgb(25.5, 25.5, 25.5);
  cursor: pointer;
}

.userPropertiesApplyBtn, .editUserPropertiesApplyBtn,
.clearUserPropertiesApplyBtn, .defineGroupsFormApplyBtn,.selectGroupsFormApplyBtn,
.definePropertyHighlightFormApplyBtn,.selectPropertyHighlightFormApplyBtn, .dataChangeOptionsApplyBtn,
.selectRevisionApplyBtn, .selectDisplayTablesApplyBtn
.definePropertyHighlightFormApplyBtn, .dataChangeOptionsApplyBtn,
.selectRevisionApplyBtn, .selectDisplayTablesApplyBtn,
.defineListFormApplyBtn, .displayListFormApplyBtn
{  
  position: absolute;
  right: 2px;
  width: 70px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
  color: white
}

.editUserPropertiesClearBtn
{
  position: absolute;
  left: 2px;
  width: 70px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesApplyBtn:hover, .userPropertiesPropogateBtn:hover,
.userPropertiesFormAdd:hover, .userPropertiesFormClear:hover,
.userPropertiesCloseBtn:hover, .editUserPropertiesCloseBtn:hover,
.editUserPropertiesClearBtn:hover, .editUserPropertiesApplyBtn:hover,
.clearUserPropertiesCloseBtn:hover, .clearUserPropertiesApplyBtn:hover,
.defineGroupsFormCloseBtn:hover, .selectGroupsFormCloseBtn:hover, .defineGroupsFormAdd:hover,
.defineGroupsFormClear:hover, .defineGroupsFormApplyBtn:hover, .selectGroupsFormApplyBtn:hover,
.definePropertyHighlightFormCloseBtn:hover,.selectPropertyHighlightFormCloseBtn:hover, .definePropertyHighlightFormAdd:hover,
.definePropertyHighlightFormClear:hover, .definePropertyHighlightFormApplyBtn:hover,.selectPropertyHighlightFormApplyBtn:hover,
.dataChangeTemplateFormReset:hover, .dataChangeTemplateFormRemove:hover,
.dataChangeTemplateOptionsCloseBtn:hover, .selectRevisionCloseBtn:hover,
.selectDisplayTablesCloseBtn:hover, .selectDisplayTablesApplyBtn:hover,
.defineListFormCloseBtn:hover, .defineListFormAdd:hover,
.defineListFormClear:hover, .defineListFormApplyBtn:hover,
.displayListFormCloseBtn:hover, .displayListFormAdd:hover,
.displayListFormClear:hover, .displayListFormApplyBtn:hover
{
  opacity: 1;
}

.userPropertiesCloseBtn, .editUserPropertiesCloseBtn,
.clearUserPropertiesCloseBtn, .defineGroupsFormCloseBtn,.selectGroupsFormCloseBtn,
.definePropertyHighlightFormCloseBtn,.selectPropertyHighlightFormCloseBtn, .dataChangeTemplateOptionsCloseBtn, 
.selectRevisionCloseBtn, .selectDisplayTablesCloseBtn,
.definePropertyHighlightFormCloseBtn, .dataChangeTemplateOptionsCloseBtn, 
.selectRevisionCloseBtn, .selectDisplayTablesCloseBtn,
.defineListFormCloseBtn, .displayListFormCloseBtn
{ 
  font-size: 12px;
  position: absolute;
  right : 2px;
  width : 25px;
  height : 25px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesFormAddText, .defineGroupsFormAddText,
.definePropertyHighlightFormAddText,
.defineListFormAddText,displayListFormAddText
{
  color: black;
  position: absolute;
  top: 85px;  
  left: 15px;
}

.userPropertiesFormClearText, .defineGroupsFormClearText,
.definePropertyHighlightFormClearText,
.defineListFormClearTex
{
  color: black;
  position: absolute;
  top: 163px;  
  left: 13px;
}

.defineGroupsFormNameBox, .definePropertyHighlightFormNameBox
{
  height: 30px;
  width: 200px;
  top: 4px;
  position: relative;
}

.defineGroupsFormTypeDL, .selectGroupsFormTypeDL, .definePropertyHighlightFormTypeDL,.selectPropertyHighlightFormTypeDL,
.defineGroupsFormTypeDL, .selectGroupsFormTypeDL, .definePropertyHighlightFormTypeDL,
.defineListFormNameBox
{
  height: 30px;
  width: 200px;
  top: 10px;
  left: 10px;
  position: relative;
}


#selectGroupsFormTypeDLa,#selectGroupsFormTypeDLb, #selectGroupsFormTypeDLc,#selectGroupsFormTypeDLd,
#selectPropertyHighlightFormTypeDLa,#selectPropertyHighlightFormTypeDLb,#selectPropertyHighlightFormTypeDLc,
#selectPropertyHighlightFormTypeDLd,#selectDataChangeTemplatesDL
{
  width: 100%;
  left: 0px;
}
.displayListFormNameBox
{
  height: 30px;
  width: 200px;
  top: 10px;
  left: 10px;
  position: relative;
}

.defineListFormDescriptionBox
{
  height: 30px;
  width: 200px;
  top: 15px;
  left: 10px;
  position: relative;
}

.displayListFormDescriptionBox
{
  height: 30px;
  width: 200px;
  top: 15px;
  left: 10px;
  position: relative;
}

.defineGroupsFormTypeDL, .definePropertyHighlightFormTypeDL

{
  width: 200px;
  font-size: 10px;
  height: 30px;
}

.defineListFormTypeDL
{
  width: 200px;
  font-size: 10px;
  height: 30px;
  left: 10px;
  top: 25px;
  position: relative;
}

.displayListFormTypeDL
{
  width: 200px;
  font-size: 10px;
  height: 30px;
  left: 10px;
  top: 25px;
  position: relative;
}
.deleteGroupBtn, .deletePropertyHighlightBtn
{
  top: 214px;
  position: absolute;
  left: 200px;
}

.deleteListBtn
{
  top: 130px;
  position: absolute;
}

.saveToVaultPrompt{
  position: absolute;
  width: 350px;
  height: 190px;
  display: none;
  z-index: 201;
  background: white;
  /* border-radius: 4px; */
  border: 2px solid black;
}

.saveToVaultOkBtn{
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: 4px;
  right: 4px;
  background: rgb(25.5, 25.5, 25.5);
  opacity: 0.8;
    color: white;
    text-align: center;
    border-radius: 6px;    
}

.saveToVaultCanceBtn{
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: 4px;
  right: 88px;
  background: rgb(25.5, 25.5, 25.5);
  opacity: 0.8;
    color: white;
    text-align: center;
    border-radius: 6px; 
}

.saveToVaultOkBtn p, .saveToVaultCanceBtn p {
  line-height: 1.7;
  display: inline-block;
  vertical-align: middle;
}

.saveToVaultOkBtn:hover, .saveToVaultCanceBtn:hover
{
  opacity: 1;
}

.saveToVaultDescLabel{
  position: absolute;
  width: 100px;  
  top: 80px;
  left: 4px;  
}

.vaultDataDescription
{
  position: absolute;
  width: 230px;
  height: 30px;
  top: 76px;
  left: 115px;
}

.saveToVaultVerLabel
{
  position: absolute;
  width: 100px; 
  top: 120px;
  left: 4px;
}

.vaultDataVersion{
  position: absolute;
  width: 230px;
  height: 30px;
  top: 114px;
  left: 115px;
}

.saveToVaultDatasetName{
  position: absolute; 
  top: 34px;
  left: 4px;
  overflow: hidden;
}

.saveToVaultCaptionBar, .editUserPropertyNameCaptionBar{
  position: absolute;
  width: 100%;  
  height: 30px;;
  top: 0px;
  left: 0px;  
  border-bottom: 1px solid black;
}

.saveToVaultCaptionBar p, .editUserPropertyNameCaptionBar p {
  line-height: 1.7;
  display: inline-block;
  vertical-align: middle;
  color: black;
}

.editUserPropertyNamePrompt{
  position: absolute;
  width: 350px;
  height: 110px;
  display: none;
  z-index: 201;
  background: white;
  /* border-radius: 4px; */
  border: 2px solid black;
  right: 0px;
  top:0px;
}

.editUserPropertyPropLabel{
  position: absolute;
  width: 100px;  
  top: 38px;
  left: 4px;  
  color: black;
}

.editUserPropertyProp
{
  position: absolute;
  width: 230px;
  height: 30px;
  top: 34px;
  left: 115px;
}

.editUserPropertyOkBtn{
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: 4px;
  right: 4px;
  background: rgb(25.5, 25.5, 25.5);
  opacity: 0.8;
    color: white;
    text-align: center;
    border-radius: 6px;    
}

.editUserPropertyCancelBtn{
  position: absolute;
  width: 80px;
  height: 30px;
  bottom: 4px;
  right: 88px;
  background: rgb(25.5, 25.5, 25.5);
  opacity: 0.8;
    color: white;
    text-align: center;
    border-radius: 6px; 
}

.saveToVaultOkBtn p, .saveToVaultCanceBtn p {
  line-height: 1.7;
  display: inline-block;
  vertical-align: middle;
}

.selectDataChangeTemplateForm
{
    position: absolute; 
    display: none;
    z-index: 101;
    width: 450px;
    background: white;
    right: 0px;
    border: 1px solid black;  
}

.dataChangeTemplateForm
{
    position: absolute; 
    display: none;
    z-index: 101;
    width: 500px;
    background: white;
    right: 0px;
    border: 1px solid black;  
}

.selectDataChangeTemplateFormCaptionBar{
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(25.5, 25.5, 25.5);
}

.dataChangeTemplateFormCaptionBar{
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(25.5, 25.5, 25.5);
}

.dataChangeTemplateFormCaption
  {
    color: black;
    top: 5px;
    left: 4px;
    position: absolute;
  }

  .selectDataChangeTemplateFormCloseBtn{     
    font-size: 12px;
    position: absolute;
    right : 2px;
    width : 25px;
    height : 25px;
    opacity: 0.75;
    cursor: pointer;
  }

  .dataChangeTemplateFormCloseBtn{     
    font-size: 12px;
    position: absolute;
    right : 2px;
    width : 25px;
    height : 25px;
    opacity: 0.75;
    cursor: pointer;
  }

  .dataChangeTemplateFormCloseBtn:hover,
  .dataChangeTemplateFormApplyBtn:hover,
  .selectDataChangeTemplateFormCloseBtn:hover,
  .selectDataChangeTemplateFormApplyBtn:hover,
  .dataChangeOptionsMatchWithAdd:hover{
    opacity: 1;
  }

  .dataChangeTemplateFormArea, .selectRevisionControlsArea{
    height: 180px;
    width: 100%;  
  }

  .dataChangeTemplateFormToolsColumn
  {
    left:0px;
    width: 70px;
    height : 100%; 
  }

  .dataChangeTemplateFormControlsColumn
{
  /* position: absolute; */
  right:0px;
  width: calc(100% - 70px);
  height : 100%;
  border: 0.25px solid lightgrey;
}


.selectDataChangeTemplateFormBottomBar
{
  height: 70px;
  /* width: 100%; */
  padding: 2px;
  position: relative;
}

.selectDataChangeTemplatesDL
{
  width: 200px;
  font-size: 10px;
  height: 30px;
  position: absolute;
  left: 4px;
  top: 4px;
}

.dataChangeTemplateFormBottomBar
{
  height: 70px;
  /* width: 100%; */
  padding: 2px;
  position: relative;
}

.dataChangeTemplatesDL
{
  width: 200px;
  font-size: 10px;
  height: 30px;
  position: absolute;
  left: 4px;
  top: 4px;
}

.dataChangeTemplateFormOptions{
  position: absolute;
  left: 210px;
  width: 60px;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  top: 0px;
  color: gray;
  cursor: pointer;
}

.dataChangeTemplateFormOptions:hover{
  color: black;
  font-size: 12px;
}

.dataChangeTemplateNameBox
{
  height: 30px;
  width: 200px;
  bottom: 4px;
  left: 4px;
  position: absolute;
}

.dataChangeTemplateFormApplyBtn
{  
  position: absolute;
  right: 4px;
  width: 70px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
  color: white;
}

.selectDataChangeTemplateFormApplyBtn
{  
  position: absolute;
  right: 4px;
  width: 70px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
  color: white;
}


.dataChangeTemplateSourceLabel
{
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
  line-height: 30px;
}

.dataChangeTemplateTargetLabel
{
  position: absolute;
  top: 70px;
  left: 20px;
  height: 30px;
  line-height: 30px;
}

.dataChangeTemplateSourceSelect{
  position: absolute;
  top: 20px;
  left: 160px;  
  width: 260px;
  height: 30px;
}

.dataChangeTemplateTargetSelect{
  position: absolute;
  top: 70px;
  left: 160px; 
  width: 260px;
  height: 30px;
}

.dataChangeTemplateHistoryLabel{
  position: absolute;
  top: 120px;
  left: 20px;
  height: 30px;
  line-height: 30px;
}

.dataChangeTemplateHistorySelect{
  position: absolute;
  top: 120px;
  left: 160px; 
  width: 260px;
  height: 30px;
}

.dataChangeTemplateFormRemove
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 125px;
  left : 15px;
  opacity: 0.75;
  cursor: pointer;
}

.dataChangeTemplateFormRemoveText
{
  color: black;
  position: absolute;
  top: 163px;  
  width: 70px;
  text-align: center;
}

.dataChangeTemplateFormReset
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 45px;  
  left : 15px;
  opacity: 0.75;
  cursor: pointer;
}

.dataChangeTemplateFormResetText
{
  color: black;
  position: absolute;
  top: 85px;  
  width: 70px;
  text-align: center;
}

.dataChangeOptionsListByArea{
  height: 40px;
  width: calc(100% - 8px);
  /* padding: 2px; */
  left: 4px;
  /* border: 0.25px solid lightgrey; */
  position: absolute;
}

.dataChangeOptionsMatchWithAdd
{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;  
  left : 15px;
  opacity: 0.75;
  cursor: pointer;
}

.dataChangeOptionsAddMatchWithText
{
  color: black;
  position: absolute;
  top: 40px; 
  width: 100%;
  font-size: 14px;
}

.dataChangeOptionsMatchWithClear
{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 70px;
  left: 15px;
  opacity: 0.75;
  cursor: pointer;
}

.dataChangeOptionsClearMatchWithText
{
  color: black;
  position: absolute;
  top: 100px; 
  width: 100%;
  font-size: 14px;
}

.dataChangeOptionsMatchwithGrid
{
  /* position: absolute; */
  right:0px;
  width: calc(100% - 60px);
  height : 100%;
}

.dataChangeTemplateOptionsForm, .selectRevisionForm
{
  position: absolute; 
  display: none;
  z-index: 102;
  width: 405px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.dataChangeOptionsToolColumn
{
  /* position: absolute; */
  left:0px;
  width: 60px;
  height : 100%;
  text-align: center;
}

.dataChangeOptionsListByLabel
{
  position: absolute; 
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  top: 10px;
}

.dataChangeOptionsListBySelect{
  position: absolute; 
  left: 80px;
  width: 250px;
  height: 30px;
  top: 10px;
}

.dataChangeTemplateSourceSelect > * .dx-button-mode-contained,
.dataChangeTemplateTargetSelect > * .dx-button-mode-contained{
  border: none !important;
}

.useCurrentRevision{
  height: 40px;
  border-bottom: 1px dashed lightgray;
}

.useCurrentRevisionCB{
  width: 100%;
  position: absolute; 
  padding: 8px;
}

.selectRevisionArea{
  height: calc( 100% - 56px);
  position: relative;
  padding: 8px;
  border-bottom: 1px dashed lightgray;
}

.srfDatasetTypeSelectLabel{
  position: absolute;
  height: 30px;
  line-height: 30px;
}

.srfDatasetNameSelectLabel{
  position: absolute;
  top: 54px;
  height: 30px;
  line-height: 30px;
}

.srfRevSelectLabel{
  position: absolute;
  top: 100px;
  height: 30px;
  line-height: 30px;
}

.srfDatasetTypeSelect{
  position: absolute;
  left: 150px;
  height: 30px;
  width: 250px;
}

.srfDatasetNameSelect{
  position: absolute;
  top: 54px;
  left: 150px;
  height: 30px;
  width: 250px;
}

.srfRevSelect{
  position: absolute;
  top: 100px;
  left: 150px;
  height: 30px;
  width: 250px;
}

.disableText{
  color: lightgray;
}

.selectDisplayTablesForm
{
  position: absolute; 
  display: none;
  z-index: 4;
  width: 400px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.selectDisplayTablesFormArea
{
  /* height: 100px; */
  width: 100%;
  padding: 2px;
}

.selectDisplayTablesTagBox{
  width: 100%;
  height: 80px;
}

.selectDisplayTablesTagBox > * .dx-tag-container.dx-texteditor-input-container { 
  height: 80px;
  overflow-y: auto;
}

.databaseViewer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: none;
  background: white;
}

.closeDisplayBtn
{  
  position: absolute;
  left: 2px;
  width: 110px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
  color: white
}

.closeDisplayBtn:hover
{
  opacity: 1;
}

.revisionNameDiv{
  position: absolute;
  height: 30px;
  top: calc(100% - 35px);
  padding: 10px;
  width: calc(100% - 180px);
  left: 120px;  
  color: white;
  text-align: center;
  overflow: hidden;
}

.exportExcelSelectDataTypeForm
{
position: absolute;
z-index: 101; 
width: 340px;
height: 120px;
display: none;
left: calc(50% - 170px);
top:  calc(50% - 80px);;
background: white;
}

.exportExcelCaptionBar,
.exportDatasetsToExcelCaptionBar
{
  height: 30px; 
  background: lightgray;
}

.exportExcelSelectDataTypeFormArea{
  height: 90px;
  position: relative;
}

.outputDatasetsBtn{
  position: absolute;
  width: 320px;
  height: 30px;
  top: 10px;
  left: 10px;
  border: 0.25px solid lightgray;
  text-align: center;
  line-height: 30px;
}

.exportExcelSelectDataTypeFormCancel:hover,
.outputDatasetsBtn:hover, .exportDatasetsToExcelCancel:hover,
.exportDatasetsToExcelExport:hover, .exportExcelselectDatasetCancel:hover,
.exportExcelselectDatasetApply:hover
{
  border: 0.5px solid black;
}

.exportExcelSelectDataTypeFormCancel{
  position: absolute;
  width: 80px;
  height: 30px;
  top: 50px;
  right: 10px;
  border: 0.25px solid lightgray;
  text-align: center;
  line-height: 30px;
}

.exportDatasetsToExcelForm
{
position: absolute;
z-index: 101; 
width: 500px;
height: 290px;
display: none;
left: calc(50% - 250px);
top:  calc(50% - 145px);;
background: white;
}

.exportDatasetsToExcelFormArea
{
  height: 260px;
  position: relative;
}

.exportDatasetsToExcelLabel{
  position: absolute;
  width: 320px;
  height: 30px;
  /* top: 10px; */
  left: 10px;
  /* border: 0.25px solid lightgray; */
  /* text-align: center; */
  line-height: 30px;
  font-weight: bold;
}

.exportDatasetsToExcelToolsColumn
{
  position: absolute;
  width: 120px;
  height: calc(100% - 75px);
  text-align: center;
  top: 30px;
  font-size: 14px;
}

.exportDatasetsToExcelSelectDatasetLabel
{
  position: absolute;  
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.exportDatasetsToExcelDatasetAdd{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40px;
  left: 40px;
}

#exportDatasetsToExcelDatasetAdd
{
  width: 40px;
  height: 40px;
}

.exportDatasetsToExcelDatasetAddText
{
  position: absolute;
  top: 80px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.exportDatasetsToExcelDatasetClear{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 120px;
  left: 40px;
}

#exportDatasetsToExcelDatasetClear
{  
  width: 40px;
  height: 40px;  
}

.exportDatasetsToExcelDatasetClearText
{
  position: absolute;
  top: 160px;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.exportDatasetsToExcelControlsColumn
{
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 75px);
  left: 120px;
  top: 30px;
  padding: 4px;
}

.exportDatasetsToExcelCancel{
  position: absolute;
  right: 100px;
  bottom: 10px;
  border: 0.25px solid lightgray;
  height: 30px;
  width: 80px;
  text-align: center;
  line-height: 30px;
}

.exportDatasetsToExcelExport{
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 0.25px solid lightgray;
  height: 30px;
  width: 80px;
  text-align: center;
  line-height: 30px;
}

.exportExcelselectDatasetForm
{
position: absolute;
z-index: 101; 
width: 400px;
height: 260px;
display: none;
left: calc(50% - 200px);
top:  calc(50% - 130px);;
background: white;
border: 0.5px solid black;
}

.exportExcelselectDatasetLabel{
  position: absolute;
  width: 100px;
  height: 30px;
  top: 10px;
  left: 10px;  
  line-height: 30px;
}

.exportExcelselectDataset{
  position: absolute;
  width: 270px;
  height: 30px;
  top: 10px;
  left: 120px;  
  font-size: 12px;
}

.exportExcelselectGroupByLabel{
  position: absolute;
  width: 100px;
  height: 30px;
  top: 50px;
  left: 10px;  
  line-height: 30px;
}

.exportExcelselectGroupBy
{
  position: absolute;
  width: 270px;
  height: 30px;
  top: 50px;
  left: 120px;  
  font-size: 12px;
}

.exportExcelselectDatasetCategoryLabel{
  position: absolute;
  width: 100px;
  height: 30px;
  top: 90px;
  left: 10px;   
  line-height: 30px;
}

.exportExcelselectDatasetCategory{
  position: absolute;
  width: 270px;
  height: 120px;
  top: 90px;
  left: 120px;
  border: 0.25px solid lightgray;
  text-align: center;
  line-height: 30px;
}

.exportExcelselectDatasetCategory  > * .dx-tag-container.dx-texteditor-input-container {
  overflow-y: auto;
}

.exportExcelselectDatasetCategory  > * .dx-tag-content {
  font-size: 12px;
  height: 30px;
}

.exportExcelselectDatasetCancel{
  position: absolute;
  width: 80px;
  height: 30px;
  top: 220px;
  right: 100px;
  border: 0.25px solid lightgray;
  text-align: center;
  line-height: 30px;
}

.exportExcelselectDatasetApply{
  position: absolute;
  width: 80px;
  height: 30px;
  top: 220px;
  right: 10px;
  border: 0.25px solid lightgray;
  text-align: center;
  line-height: 30px;
}