
.displayMenu{
    position: absolute;
    z-index: 1;
    top: calc( 50% - 95px);
    background: rgba(25.5, 25.5, 25.5) !important;
    width: 40px;
    height: 190px;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }
  
  .displayMenu:hover, .markupMenu:hover, 
  .shapesMenu:hover, .bookmarkMenu:hover,
  .tagsMenu:hover, .modelViewsMenu:hover,
  .displayStylesMenu:hover, .sectioningMenu:hover,
  .measureMenu:hover, .dataDefinitionMenu:hover {
    opacity: 1;
  }
  
  .displayMenu .dx-list-item-content, .markupMenu .dx-list-item-content, .shapesMenu .dx-list-item-content,
  .bookmarkMenu .dx-list-item-content, .tagsMenu .dx-list-item-content, .modelViewsMenu .dx-list-item-content,
  .displayStylesMenu .dx-list-item-content, .sectioningMenu .dx-list-item-content, .measureMenu .dx-list-item-content,
  .dataDefinitionMenu .dx-list-item-content
  {
    padding: 4px 4px !important;
  }
  
  
  .displayMenu .dx-list-item, .markupMenu .dx-list-item, .shapesMenu .dx-list-item,
  .bookmarkMenu .dx-list-item, .tagsMenu .dx-list-item, .modelViewsMenu .dx-list-item,
  .displayStylesMenu .dx-list-item, .sectioningMenu .dx-list-item, .measureMenu .dx-list-item,
  .dataDefinitionMenu .dx-list-item
  {
    border-top: none !important;
  }

  .markupMenu{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 380px;
    top: calc( 50% - 190px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }
  
  
  .markupViewsContainer
  {
  position: absolute;
  z-index: 1; 
  width: 340px;
  display: none;
  /* top : calc(50% - 165px); */
  /* left : calc(50% - 125px); */
  top: 0px;
  right: 0px;
  }

  .measureViewsContainer
  {
  position: absolute;
  z-index: 1; 
  width: 340px;
  display: none;
  /* top : calc(50% - 165px); */
  /* left : calc(50% - 125px); */
  top: 0px;
  right: 0px;
  }
  
  .markupViewsCaptionBar
  {
  height: 30px; 
  background: white;
  }
  
  .markupViewsTabs
  {
  /* height: 250px;  */
  background: white;
  }
  
  .markupViewsBottomStrip
  {
  height: 40px; 
  background: white;
  }
  
  .markupViewsContainerClose
  {
  position: absolute;
  right: 0px;
  }
  
  .markupViewsClearBtn{
  width: 25px;
  height: 25px;
  bottom: 7px;
  position: absolute;
  }
  
  .markupViewsCaption, .userPropertiesCaption, 
  .editUserPropertiesCaption, .clearUserPropertiesCaption{
  color: black;
  top: 5px;
  left: 4px;
  position: absolute;
  }
  
  .shapesMenu
  {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 76px;
  top: calc( 50% - 190px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
  }
  
  .bookmarkMenu
  {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 304px;
    top: calc( 50% - 152px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }

  .tagsMenu{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 190px;
    top: calc( 50% - 95px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }

  .markupViewsContainer .dx-tabpanel .dx-tab ,
  .measureViewsContainer .dx-tabpanel .dx-tab{
    width: 110px !important;
}

.markupViewsContainer .dx-tab ,
.measureViewsContainer .dx-tab {
  padding: 5px !important;; 
}

.modelViewsMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 456px;
  top: calc( 50% - 228px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 2px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.displayStylesMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 190px;
  top: calc( 50% - 380px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.sectioningMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  top: calc( 50% - 380px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.measureMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  top: calc( 50% - 190px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

/* Styles for JQuery context menus */
.contextMenu_style
{
  opacity: 0.2;
  border: none;
  box-shadow: none;
  font-size: 14px;
}

.contextMenu_style  .context-menu-item{
  background: rgba(25.5, 25.5, 25.5);
  color: white;
  
}
.contextMenu_style:hover{
 
  opacity: 1;
}

.dataDefinitionMenu{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 228px;
  left: 2px;
  top: calc( 50% - 114px);
  background: rgba(25.5, 25.5, 25.5) !important; 
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
}

.userPropertiesForm
{
  position: absolute; 
  display: none;
  z-index: 1;
  width: 450px;
  background: white;
  right: 0px;
}

.editUserPropertiesForm
{
  position: absolute; 
  display: none;
  z-index: 1;
  width: 800px;
  background: white;
  right: 0px;
}

.clearUserPropertiesForm
{
  position: absolute; 
  display: none;
  z-index: 1;
  width: 400px;
  background: white;
  right: 0px;
  border: 1px solid black;
}

.userPropertiesFormCaptionBar, .editUserPropertiesFormCaptionBar,
.clearUserPropertiesFormCaptionBar
{
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgb(25.5, 25.5, 25.5);
}

.userPropertiesFormGridArea
{
  height: 180px;
  width: 100%;  
}

.editUserPropertiesFormGridArea
{
  height: 500px;
  width: 100%;
  padding: 2px;
  /* border-bottom: 1px solid black; */
}

.clearUserPropertiesFormArea
{
  /* height: 100px; */
  width: 100%;
  padding: 2px;
}

.dx-field-label
{
  width: 10% !important;
}

.dx-field-value
{
  width: 90% !important;
}

.userPropertiesFormControlColumn
{
  /* position: absolute; */
  left:0px;
  width: 60px;
  height : 100%; 
}

.userPropertiesGrid
{
  /* position: absolute; */
  right:0px;
  width: calc(100% - 60px);
  height : 100%;
}

.userPropertiesFormAdd
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 45px;  
  left : 10px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesFormClear
{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 125px;
  left : 10px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesFormBottomBar, .editUserPropertiesFormBottomBar,
.clearUserPropertiesFormBottomBar
{
  height: 40px;
  width: 100%;
  padding: 2px;
}

.userPropertiesPropogateBtn
{
  position: absolute;
  left: 2px;
  width: 30px;
  height: 30px;
  opacity: 0.75;  
  text-align: center;
  vertical-align: middle; 
  border-radius: 6px;
  bottom: 4px;
  background: rgb(25.5, 25.5, 25.5);
  cursor: pointer;
}

.userPropertiesApplyBtn, .editUserPropertiesApplyBtn,
.clearUserPropertiesApplyBtn
{  
  position: absolute;
  right: 2px;
  width: 70px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
}

.editUserPropertiesClearBtn
{
  position: absolute;
  left: 2px;
  width: 70px;
  height: 30px;
  /* color: black; */
  background: rgb(25.5, 25.5, 25.5);
  text-align: center;
  border-radius: 6px;
  bottom: 4px;
  vertical-align: middle;
  line-height: 26px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesApplyBtn:hover,
.userPropertiesPropogateBtn:hover,
.userPropertiesFormAdd:hover,
.userPropertiesFormClear:hover,
.userPropertiesCloseBtn:hover,
.editUserPropertiesCloseBtn:hover,
.editUserPropertiesClearBtn:hover,
.editUserPropertiesApplyBtn:hover,
.clearUserPropertiesCloseBtn:hover,
..clearUserPropertiesApplyBtn:hover
{
  opacity: 1;
}

.userPropertiesCloseBtn, .editUserPropertiesCloseBtn,
.clearUserPropertiesCloseBtn
{ 
  font-size: 12px;
  position: absolute;
  right : 2px;
  width : 25px;
  height : 25px;
  opacity: 0.75;
  cursor: pointer;
}

.userPropertiesFormAddText
{
  color: black;
  position: absolute;
  top: 85px;  
  left: 15px;
}

.userPropertiesFormClearText
{
  color: black;
  position: absolute;
  top: 163px;  
  left: 13px;
}