
.displayMenu{
    position: absolute;
    z-index: 1;
    top: calc( 50% - 100px);
    background: rgba(25.5, 25.5, 25.5) !important;
    width: 40px;
    height: 200px;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }
  
  .displayMenu:hover, .markupMenu:hover, 
  .shapesMenu:hover, .bookmarkMenu:hover,
  .tagsMenu:hover {
    opacity: 1;
  }
  
  .displayMenu .dx-list-item-content, .markupMenu .dx-list-item-content, .shapesMenu .dx-list-item-content,
  .bookmarkMenu .dx-list-item-content, .tagsMenu .dx-list-item-content
  {
    padding: 4px 4px !important;
  }
  
  .markupMenu{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 400px;
    top: calc( 50% - 200px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }
  
  
  .markupViewsContainer
  {
  position: absolute;
  z-index: 1; 
  width: 340px;
  display: none;
  /* top : calc(50% - 165px); */
  /* left : calc(50% - 125px); */
  top: 0px;
  right: 0px;
  }
  
  .markupViewsCaptionBar
  {
  height: 30px; 
  background: white;
  }
  
  .markupViewsTabs
  {
  /* height: 250px;  */
  background: white;
  }
  
  .markupViewsBottomStrip
  {
  height: 40px; 
  background: white;
  }
  
  .markupViewsContainerClose
  {
  position: absolute;
  right: 0px;
  }
  
  .markupViewsClearBtn{
  width: 25px;
  height: 25px;
  bottom: 7px;
  position: absolute;
  }
  
  .markupViewsCaption{
  color: black;
  top: 5px;
  left: 4px;
  position: absolute;
  }
  
  .shapesMenu
  {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 80px;
  top: calc( 50% - 200px);
  background: rgba(25.5, 25.5, 25.5) !important;
  left: 42px;
  overflow: hidden !important;
  text-align: center;
  opacity: 0.2;
  display: none;
  }
  
  .bookmarkMenu
  {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 320px;
    top: calc( 50% - 160px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }

  .tagsMenu{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 200px;
    top: calc( 50% - 100px);
    background: rgba(25.5, 25.5, 25.5) !important;
    left: 2px;
    overflow: hidden !important;
    text-align: center;
    opacity: 0.2;
    display: none;
  }

  .markupViewsContainer .dx-tabpanel .dx-tab {
    width: 110px !important;
}

.markupViewsContainer .dx-tab {
  padding: 5px !important;; 
}