
.checkinfo {
  position            : fixed;
  width               : 100%;
  height              : 100%;
  background-color    : rgba(0,0,0,0.3);
  z-index			  : 100;
  opacity 			  : 0.9;
  position			  :absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin			  :auto;
  max-width			  :100%;
  max-height	      :100%;
  overflow            :auto;
  display             :none;
  
}
/*.checkinfo {
  width               : 100%;
  min-width           : 682px;
  height              : 500px;
  min-height          : 390px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}*/
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
/*.checkinfo .projectcreationdialoggroup {
  background-color    : rgba(255,255,255,0.0);
  height              : 400px;
  width               : 400px;
  -ms-transform       : rotate(0deg);
  -webkit-transform   : rotate(0deg);
  transform           : rotate(0deg);
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
}*/

.checkinfo .projectcreationdialoggroup {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 200px;
  width               : 390px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  max-width:100%;
  max-height:100%;
}
.checkinfo .projectcreationdialoggroup .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 52px;
  height              : 420px;
  box-sizing          : border-box;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(199, 199, 199, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : 320px;
  width               : 682px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties .properties1{

}
.checkinfo .projectcreationdialoggroup .properties .properties1 .bg1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 130px;
  box-sizing          : border-box;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(199, 199, 199, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties .properties1 .header{
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : bold;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

.checkinfo .projectcreationdialoggroup .properties .properties1 .headerval{
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : bold;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties1 .properties1Key1{
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties1 .properties1val1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties1 .properties1Key2{
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties1 .properties1val2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

.checkinfo .projectcreationdialoggroup .properties .properties1 .properties1Key3{
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties1 .properties1val3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
/************* Row 2************************/
.checkinfo .projectcreationdialoggroup .properties .properties2{

}

.checkinfo .projectcreationdialoggroup .properties .properties2 .bg2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 140px;
  height              : 130px;
  box-sizing          : border-box;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(199, 199, 199, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

.checkinfo .projectcreationdialoggroup .properties .properties2 .header{
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : bold;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

.checkinfo .projectcreationdialoggroup .properties .properties2 .headerval{
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  font-weight         : bold;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties2 .properties2Key1{
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties2 .properties2val1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties2 .properties2Key2{
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties2 .properties2val2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

.checkinfo .projectcreationdialoggroup .properties .properties2 .properties2Key3{
  background-color    : rgba(255,255,255,0.0);
  top                 : 240px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties2 .properties2val3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 240px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

/************* Row 3************************/
.checkinfo .projectcreationdialoggroup .properties .properties3{

}
.checkinfo .projectcreationdialoggroup .properties .properties3 .bg3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 280px;
  height              : 75px;
  box-sizing          : border-box;
  width               : 370px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(199, 199, 199, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties .properties3 .properties3Key1{
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties3 .properties3val1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

.checkinfo .projectcreationdialoggroup .properties .properties3 .properties3Key2{
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : auto;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .properties3 .properties3val2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : auto;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.checkinfo .projectcreationdialoggroup .properties .cancelbtn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 360px;
  height              : 40px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 134px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.checkinfo .projectcreationdialoggroup .properties .cancelbtn:hover {
  transform           : scale(0.9);
}
.checkinfo .projectcreationdialoggroup .properties .cancelbtn .bg2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.checkinfo .projectcreationdialoggroup .properties .cancelbtn .bg2:hover {
  box-shadow          : 0px 0px 10px 2px rgba(0,0,0,0.2);
}
.checkinfo .projectcreationdialoggroup .properties .cancelbtn .cancel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}

.checkinfo .projectcreationdialoggroup .properties .footer {
  background-color    : rgba(51, 51, 51, 1.0);
  top                 : 400px;
  height              : 14px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties .textfieldprojectname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 79px;
  height              : 30px;
  width               : 419px;
  position            : absolute;
  margin              : 0;
  left                : 234px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties .textfieldprojectname .textfieldprojectname1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 419px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .properties .projectname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 86px;
  height              : auto;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}

.checkinfo .projectcreationdialoggroup .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .header .bg1 {
  background-color    : rgba(51, 51, 51, 1.0);
  top                 : 0px;
  height              : 54px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.checkinfo .projectcreationdialoggroup .header .newproject {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}