.mediaViewInfo {
	--web-view-name: Compliance DataSet Selection;
	--web-view-id: Compliance_DataSet_Selection;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Compliance_DataSet_Selection;
}
* {
	margin: 0;
	padding: 0;
}

#Compliance_DataSet_Selection {
	display: none;
	z-index: 2;
	position: absolute;
	box-sizing: border-box;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	/* background: #E5E5E5; */
	width: 440px;
	height: 397px;
	/* background-color: rgba(255,255,255,1); */
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Compliance DataSet Selection;
	--web-view-id: Compliance_DataSet_Selection;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
.bgr {
	position: absolute;
	overflow: visible;
	width: 440px;
	height: 397px;
	left: 0px;
	top: 0px;
}
#line2 {
	opacity: 0.1;
}
.line2 {
	position: absolute;
	overflow: visible;
	width: 440px;
	height: 4px;
	left: 0px;
	top: 77px;
}
#SummaryComplianceSources {
	position: absolute;
	left: 64px;
	top: 27px;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
.icon_32_Info1 {
	overflow: visible;
	position: absolute;
	top: 23px;
	left: 15px;
	width: 32px;
	height: 32px;
	transform: matrix(1,0,0,1,0,0);
}
#type_2 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 28px;
	top: 94px;
	overflow: visible;
}
#pie {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;	
}

#pie:hover {
	background-color: gray;
}
.bg_A4_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Group_5 {
	position: absolute;
	width: 216px;
	height: 29px;
	left: 80px;
	top: 12px;
	overflow: visible;
}
#Data_source_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#type_2_A4_Group_4 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 28px;
	top: 166px;
	overflow: visible;
}
#pie_A4_Group_5 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#pie_A4_Group_5:hover {
	background-color: gray;
}

.bg_A4_Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Group_5_A4_Group_6 {
	position: absolute;
	width: 235px;
	height: 29px;
	left: 75px;
	top: 12px;
	overflow: visible;
}
#Data_source_1_A4_Text_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#type_2_A4_Group_7 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 28px;
	top: 238px;
	overflow: visible;
}
#pie_A4_Group_8 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#pie_A4_Group_8:hover {
	background-color: gray;
}

.bg_A4_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Group_5_A4_Group_9 {
	position: absolute;
	width: 273px;
	height: 29px;
	left: 56px;
	top: 12px;
	overflow: visible;
}
#Data_source_1_A4_Text_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 274px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#type_2_A4_Group_10 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 28px;
	top: 310px;
	overflow: visible;
}
#pie_A4_Group_11 {
	position: absolute;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#pie_A4_Group_11:hover {
	background-color: gray
}

.bg_A4_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 52px;
	left: 0px;
	top: 0px;
}
#Group_5_A4_Group_12 {
	position: absolute;
	width: 238px;
	height: 29px;
	left: 73px;
	top: 12px;
	overflow: visible;
}
#Data_source_1_A4_Text_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}