.mediaViewInfo {
	--web-view-name: Excel Output – Horizontal;
	--web-view-id: Excel_Output___Horizontal;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Excel_Output___Horizontal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Excel_Output___Horizontal {
	position: absolute;
	background: #E5E5E5;
	width: 100%;
	height: 100%;
	overflow: hidden;
	--web-view-name: Excel Output – Horizontal;
	--web-view-id: Excel_Output___Horizontal;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_399 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_398 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_378 {
	filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.502));
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3501 {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 8%;
	left: 0.5%;
	top: 0.5%;
	transform: matrix(1,0,0,1,0,0);
}
#Excel_Output {
	position: absolute;
	left: 1%;
	top: 2%;
	overflow: hidden;
	width: 20%;
	height: 5%;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: calc(0.65vw + 1vmin);;
	color: rgba(242,243,244,1);
}
#pie {
	position: absolute;
	width: 65%;
	height: 81%;
	left: 1%;
	top: 10%;
	overflow: visible;
}
.bg {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#Group_5 {
    position: absolute;
    width: 20%;
    height: 4%;
    left: 2%;
    top: 1%;
    overflow: visible;
}
#Data_source_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 100%;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: calc(0.25vw + 1vmin);
	color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_3 {
    position: absolute;
    left: 2.5%;
    top: 15%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
.Path_364 {
	overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.3%;
    left: 13.5%;
    top: 20%;
    transform: matrix(1,0,0,1,0,0);
}

#Data_source_1_A96_Text_7 {
    position: absolute;
    left: 2.5%;
    top: 25%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_8 {
    position: absolute;
    left: 37%;
    top: 20%;
    overflow: visible;
    width: 20%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_9 {
    position: absolute;
    left: 37%;
    top: 27%;
    overflow: visible;
    width: 20%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_10 {
    position: absolute;
    left: 37%;
    top: 39%;
    overflow: visible;
    width: 20%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_11 {
    position: absolute;
    left: 37%;
    top: 47%;
    overflow: visible;
    width: 20%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_12 {
    position: absolute;
    left: 37%;
    top: 15%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#line {
	opacity: 0.1;
}
.line {
    position: absolute;
    overflow: visible;
    width: 2px;
    height: 75%;
    left: 35%;
    top: 13%;
}
#Data_source_1_A96_Text_13 {
    position: absolute;
    left: 2.5%;
    top: 40%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#line_A96_Rectangle_3 {
	opacity: 0.1;
}
.line_A96_Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 32%;
    height: 2px;
    left: 2%;
    top: 53%;
}
.Path_373 {
    overflow: visible;
    position: absolute;
    width: 20%;
    height: 4%;
    left: 15%;
    top: 93%;
    transform: matrix(1,0,0,1,0,0);
}
#Data_source_1_A96_Text_14 {
    position: absolute;
    left: 3.5%;
    top: 93.5%;
    overflow: visible;
    width: 11%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Browse_to_output_destination {
	opacity: 0.306;
	position: absolute;
	left: 214px;
	top: 639px;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#line_A96_Rectangle_4 {
	opacity: 0.1;
}
.line_A96_Rectangle_4 {
	position: absolute;
    overflow: visible;
    width: 32%;
    height: 2px;
    left: 2%;
    top: 37%;
}
.Line_78 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 39%;
    top: 21%;
    transform: matrix(1,0,0,1,0,0);
}
.Line_79 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 39%;
    top: 42%;
    transform: matrix(1,0,0,1,0,0);
}
.Rectangle_12421 {
    position: absolute;
    overflow: visible;
    width: 7.4%;
    height: 4.5%;
    left: 91.5%;
    top: 92.5%;
}
#exportButton {
    position: absolute;
    left: 91.5%;
    top: 92.5%;
    overflow: hidden;
    width: 7%;
    height: 4%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.45vw + 1vmin);
    color: rgba(242,243,244,1);
}
.Rectangle_1309 {
	position: absolute;
    overflow: visible;
    width: 3.5%;
    height: 3.5%;
    left: 29.5%;
    top: 15%;
}
.Ellipse_268 {
	filter: drop-shadow(0px 0px 1px rgba(50, 49, 50, 1));
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 383px;
	top: 98px;
}
.Path_374 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.3%;
    left: 46%;
    top: 19%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment {
	position: absolute;
	left: 583px;
	top: 135px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem {
	position: absolute;
	left: 583px;
	top: 148px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent {
	position: absolute;
	left: 582px;
	top: 160px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
.Path_375 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.3%;
    left: 46%;
    top: 37%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_20 {
	position: absolute;
	left: 585px;
	top: 257px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_21 {
	position: absolute;
	left: 585px;
	top: 270px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_22 {
	position: absolute;
	left: 584px;
	top: 282px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Data_source_1_A96_Text_23 {
    position: absolute;
    left: 37%;
    top: 58%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_24 {
    position: absolute;
    left: 37%;
    top: 66%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_25 {
    position: absolute;
    left: 37%;
    top: 77%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_26 {
    position: absolute;
    left: 37%;
    top: 85%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
.Line_80 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 39%;
    top: 21%;
    transform: matrix(1,0,0,1,0,0);
}
.Line_81 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 39%;
    top: 80%;
    transform: matrix(1,0,0,1,0,0);
}
.Path_376 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.3%;
    left: 46%;
    top: 55%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_27 {
	position: absolute;
	left: 583px;
	top: 380px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_28 {
	position: absolute;
	left: 583px;
	top: 393px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_29 {
	position: absolute;
	left: 582px;
	top: 405px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
.Path_377 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.3%;
    left: 46%;
    top: 73%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_30 {
	position: absolute;
	left: 585px;
	top: 502px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_31 {
	position: absolute;
	left: 585px;
	top: 515px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_32 {
	position: absolute;
	left: 584px;
	top: 527px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#pie_A96_Group_5 {
    position: absolute;
    width: 32%;
    height: 81%;
    left: 67%;
    top: 10%;
    overflow: visible;
}
.bg_A96_Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#Group_5_A96_Group_6 {
    position: absolute;
    width: 35%;
    height: 4%;
    left: 2%;
    top: 2%;
    overflow: visible;
}
#Data_source_1_A96_Text_33 {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 100%;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_34 {
    position: absolute;
    left: 72.5%;
    top: 20%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_35 {
    position: absolute;
    left: 72.5%;
    top: 27%;
    overflow: visible;
    width: 8%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_36 {
    position: absolute;
    left: 72.5%;
    top: 39%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_37 {
    position: absolute;
    left: 72.5%;
    top: 47%;
    overflow: visible;
    width: 8%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
.Line_82 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 75%;
    top: 21%;
    transform: matrix(1,0,0,1,0,0);
}
.Line_83 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 75%;
    top: 42%;
    transform: matrix(1,0,0,1,0,0);
}
.Path_379 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 75%;
    top: 42%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_38 {
	position: absolute;
	left: 991px;
	top: 135px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_39 {
	position: absolute;
	left: 991px;
	top: 148px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_40 {
	position: absolute;
	left: 990px;
	top: 160px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
.Path_380 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.4%;
    left: 79%;
    top: 37%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_41 {
	position: absolute;
	left: 993px;
	top: 257px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_42 {
	position: absolute;
	left: 993px;
	top: 270px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_43 {
	position: absolute;
	left: 992px;
	top: 282px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Data_source_1_A96_Text_44 {
    position: absolute;
    left: 72.5%;
    top: 58%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_45 {
    position: absolute;
    left: 72.5%;
    top: 66%;
    overflow: visible;
    width: 8%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_46 {
    position: absolute;
    left: 72.5%;
    top: 77%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Data_source_1_A96_Text_47 {
    position: absolute;
    left: 72.5%;
    top: 84%;
    overflow: visible;
    width: 8%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
.Line_84 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 75%;
    top: 61%;
    transform: matrix(1,0,0,1,0,0);
}
.Line_85 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 7%;
    left: 75%;
    top: 80%;
    transform: matrix(1,0,0,1,0,0);
}
.Path_382 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.4%;
    left: 79%;
    top: 55%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_48 {
	position: absolute;
	left: 991px;
	top: 382px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_49 {
	position: absolute;
	left: 991px;
	top: 395px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_50 {
	position: absolute;
	left: 990px;
	top: 407px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
.Path_381 {
    overflow: visible;
    position: absolute;
    width: 19%;
    height: 15.4%;
    left: 79%;
    top: 73%;
    transform: matrix(1,0,0,1,0,0);
}
#Equipment_A96_Text_51 {
	position: absolute;
	left: 993px;
	top: 502px;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#PipingnetworkSystem_A96_Text_52 {
	position: absolute;
	left: 993px;
	top: 515px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
#Pipingcomponent_A96_Text_53 {
	position: absolute;
	left: 992px;
	top: 527px;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
.Path_383 {
	overflow: visible;
	position: absolute;
	width: 231.09px;
	height: 21.262px;
	left: 172.235px;
	top: 313.738px;
	transform: matrix(1,0,0,1,0,0);
}
#Data_source_1_A96_Text_54 {
    position: absolute;
    left: 2.5%;
    top: 47%;
    overflow: visible;
    width: 10%;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: calc(0.10vw + 1vmin);
    color: rgba(255,255,255,1);
}
#Enter_file_name_here_ {
	opacity: 0.306;
	position: absolute;
	left: 236px;
	top: 318px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: italic;
	font-weight: normal;
	font-size: 10px;
	color: rgba(242,243,244,1);
}
.Rectangle_1310 {
	position: absolute;
    overflow: visible;
    width: 3.5%;
    height: 3.5%;
    left: 29.5%;
    top: 40%;
}
.Ellipse_269 {
	filter: drop-shadow(0px 0px 1px rgba(50, 49, 50, 1));
	position: absolute;
	overflow: visible;
	width: 23px;
	height: 23px;
	left: 381px;
	top: 276px;
}
.Path_2591 {
    overflow: visible;
    position: absolute;
    top: 3%;
    left: 97%;
    width: 3%;
    height: 3%;
    transform: matrix(1,0,0,1,0,0);
}
.Rectangle_1311 {
    position: absolute;
    overflow: visible;
    width: 3.5%;
    height: 3.5%;
    left: 62%;
    top: 14%;
}

.Rectangle_1320 {
	position: absolute;
    overflow: visible;
    width: 3.5%;
    height: 3.5%;
    left: 94%;
    top: 14%;
}
