/* ol {
    background: #3399ff;
    padding: 10px;
    font-size: 12px;
  }  

  ol li {
    background: #cce5ff;
    margin: 5px;
    font-size: 12px;
  } */

  ol {
    /* background: #ff9999; */
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
  }
  
  ul {
    /* background: #ff9999; */
    padding: 5px;
    font-size: 12px;
    background-color: white;
  }
  
  ol li {
    /* background: #ffe5e5; */
    padding: 5px;
    margin-left: 20px;
    background-color: white;
  }
  
  ul li {
    /* background: #cce5ff; */
    /* margin: 5px; */
    margin-left: 20px;
    background-color: white;
  }