body {
    margin: 0;
	padding: 0;
}

.example-canvas {
    width: 1024px;
    height: 768px;
    position: relative;
    border: 1px solid gray;
}

.example-canvas-small {
    width: 768px;
    height: 576px;
    position: relative;
    border: 1px solid gray;
}

.example-canvas-tiny {
    width: 320px;
    height: 240px;
    position: relative;
    border: 1px solid gray;
}

.example-div-block{
    margin-top: 5px;
    margin-bottom: 5px;
}

.example-panel-select-box{
    width: 200px;
}